# macOS
.DS_Store

# Python
__pycache__/

# VS Code
.vscode/

cifar-10-batches-py/
output/best_models/
grid_search.py
*.pt
assignment_1/personal_environment.yml
*.job
*.zip
*.amat
assignment_3/results/VAE_samples/
assignment_3/results/GAN_samples/
