__pycache__/
.vscode/
cifar-10-batches-py/
.DS_Store
output/best_models/
grid_search.py
*.pt
assignment_1/personal_environment.yml
assignment_1/train_convnet_pytorch.job
assignment_1/vandeGraaf_assignment1.zip
assignment_2/part1/results/
*.job
